<!DOCTYPE html>
<html>
    <head>
      <%- include ("../partials/header.ejs") %>
    </head>
    <body>
      <h1>Your rectangle:</h1>
      <table border="1">  
        <% results.forEach(function(r){ %> 
        <tr><th>id</th> <td><%= r.id %></td></tr>
        <tr><th>name</th> <td><%= r.name %></td></tr>
        <tr><th>width</th> <td><%= r.width %></td></tr>
        <tr><th>height</th> <td><%= r.height %></td></tr>
        <tr><th>color</th> <td><%= r.color %></td></tr>
        <% }); %>
      </table>
    </body>
</html>
